{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": ["always", "ignoreAtRules": ["if","else"]],
    "block-closing-brace-newline-before": "always-multi-line",
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-newline-before": "never-single-line",
    "block-opening-brace-space-before": "always",
    "declaration-colon-space-after": "always",
    "declaration-no-important": true,
    "declaration-property-unit-disallowed-list": {
      "/margin/": ["em","rem","px"],
      "/padding/": ["em","rem","px"]
    },
    "declaration-property-value-disallowed-list": {
      "/color/": ["/#[A-Fa-f0-9]{6}/","/^#[A-Fa-f0-9]{3}/"],
      "/border/": ["/#[A-Fa-f0-9]{6}/","/^#[A-Fa-f0-9]{3}/"],
      "background": ["/#[A-Fa-f0-9]{6}/","/^#[A-Fa-f0-9]{3}/"]
    },
    "indentation": [2, {
      "ignore": ["value"]
    }],
    "length-zero-no-unit": true,
    "no-eol-whitespace": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "order/properties-alphabetical-order": true,
    "no-missing-end-of-source-newline": true,
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": ["always", {
      "except": [
        "first-nested",
        "after-single-line-comment"
      ]
    }],
    "selector-list-comma-newline-after": "always",
    "selector-max-id": 0,
    "selector-pseudo-element-colon-notation": "double",
    "selector-type-no-unknown": true
  },
  "ignoreFiles": [
    "./scss-helpers/vendor/**/*.scss"
  ]
}
